# Defaults
*.swp
*~
*.log
*.dvi
*.aux
*.blg
*.ps
*.nav
*.out
*.snm
*.toc

# Ignore Gradle project-specific cache directory and output directory
.gradle
build

#Java
*.class
input.txt
output.txt
test.txt
input_tape.in
output_tape.out
input.in
output.out

bin/
